<h1>Welcome</h1>
<% if !logged_in? %>
  <div class="btn-group" style="padding-right: 5px; text-align: center">
    <form action="/login" method="get">
      <button class="btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
  </div>
  <div class="btn-group" style="text-align: center">
    <form action="/signup" method="get">
      <button class="btn btn-lg btn-primary" type="submit">Create Account</button>
    </form>
  </div>
<% end %>

<span STYLE="background-color: #d85751; color: #ffffff; padding:5px 5px 5px 5px;">PLEASE NOTE:  This is a development site, not all features may work as expected.</span>
<br/>
<br/>
<footer>
  <div id="home-section">This site was built using Ruby Sinatra, has a MySQL backend and is deployed using Passenger Phusion.  My development environments use both Mac OS and Windows PC with Rubymine as my IDE.</div>
  <br/><br/>
  <div id="home-section">The project includes my goals for learning how to build my own Ruby server environment and serve it 'Live', and continues with my coursework in Ruby Sinatra and Rails. </div>
  <h2>About Flatiron School for Software Engineering</h2>
  <div id="home-section">
    <div>To learn more about the program, please visit the the <a href="https://flatironschool.com/career-courses/coding-bootcamp" target="_blank">Flatiron School</a> site. </div></div>

  <h2>Project Milestones</h2>
  <section id="page">
    <table class="table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Task</th>
        <th>GitHub</th>


      </tr>
      </thead>

      <tbody>

      <tr>
        <td>x</td>
        <td>20210120</td>
        <td>20210205</td>
        <td>Successfully installed ruby 2.7.2 with MySQL adapter and Passenger Fusion</td>
        <td><a href="https://github.com/mrsdo/fis.shegottablog" target="_blank">Open Repo</a> </td>
      </tr>
      </tbody>
    </table>
  </section>
</footer>